*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6CD6DD;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    width: 100vw;
}  

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#hi{
  color: #223C4E;
  font-weight: 700;
  font-size: 1rem;
}

.scroll0{
    width: 100%;
    height: 80vh;
}

.mini-nav{
    position: fixed;
    width: 100%;
    height: 4.5vh;
    color: white;
    background-color: #223C4E;
    z-index: 2;
}


.main-nav {
    position: fixed;
    top: 4.5vh;
    width: 100%;
    height: 10vh;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    box-shadow: 5px 2px 2px #223c4e2d;
    background-color: #6CD6DD;
}

    
.logo {
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 900;
}

.nav-options {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-options ul {
  list-style: none;
  display: flex;        
  gap: 70px;    
  padding: 0;
  margin: 0;
}

.nav-options a{
  text-decoration: none;    
  transition: color 0.3s ease;
  color: #223C4E;
  font-weight: 500;
  font-size: 1.1rem;
}

.signin {
  align-items: center;
  appearance: none;
  background-color: #CDEFF0;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  transition: 0.8s ease-in-out;
}

.signin:hover {
  background: #F6F9FE;
  color: #223C4E;
}

.signin:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.signin:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.signin:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.signin:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.signin:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.signin:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.signin:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.intro{
    position: absolute;
    top: 12vh;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    align-items: center;
    gap: 8px;
}


.p1{
    font-size: 7rem;
    font-weight: 800;
    color: #223C4E;
    font-family: "Open Sans";
    text-align: center;
}

.p12{
    font-size: 7rem;
    font-weight: 800;
    color: white;
    font-family: "Open Sans";
}

.desc{
  color: #223C4E;
  font-size: 1.2rem;
  font-weight: 300;
  width: 50vw;
  text-align: center;

}

.try-now {
  align-items: center;
  margin-top: 2vh;
  appearance: none;
  background-color: #223C4E;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  /* position: relative; */
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.try-now:hover {
  background: #223c4ebe;
}

.try-now:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.try-now:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.try-now:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.try-now:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.try-now:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.try-now:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.try-now:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.scroll1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.autism {
  width: 70%;
  height: 100%;
  background-color: #e6eaeb;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-card {
  display: flex;
  min-width: 100%;
  height: 100%;
  padding: 100px;
  color:#223C4E;
  gap: 2rem;
  box-sizing: border-box;
}

#ccard-1-img{
  width: 50%;
  object-fit: contain;
}

.carousel-card ul{
  line-height: 30px;
  font-size: 18px;
}

.carousel-card h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;

}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 1;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.scroll2 {
  height: 80%;
  width: 74%;
  background-color: #D5F4F5; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-top: 50px;
  border-radius: 50px;
  padding: 40px 60px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.text-section {
  width: 45%;
  color: #1f1f1f;
}

.text-section h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.text-section .highlight {
  color: #00aab5;
}

.text-section p {
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.text-section button {
  padding: 12px 24px;
  border: 1px solid #1f1f1f;
  background: transparent;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.text-section button:hover {
  background: #00aab5;
  color: white;
}

.image-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aware{
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0 ;
}



.main-section {
    padding: 50px 5%;
}

.section-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #1f2d3d;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: #eaf1f2;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.lightblue {
    background-color: #d7eff4;
    color: #337c87;
}

.peach {
    background-color: #fbe0d9;
    color: #9a5d51;
}

.tan {
    background-color: #f4e8d7;
    color: #5c4a2f;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #1f2d3d;
    line-height: 1.4;
}

.footer{
  height: 40px;
  width: 100vw;
  background-color: #223C4E;
  text-align: center;
  color: white;
}

.main-nav{
  z-index: 2;
}

.card img{
  height: 400px;
  width: auto;
}